{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-attributes"
  ],
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}